<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}">
<body>
	<section>
		<!-- Start Slider  -->

		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/ecom1.png" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom3.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom2.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- End Slider  -->

		<!--< Start Category Module -->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="overflow-auto d-flex flex-row">
					<div class="col-md-2" th:each="category : ${allCategory}" style="flex: 0 0 auto;">
						<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
							<div class="card-body text-center">
								<img th:src="${category.getImageUrl()}" width="75%" height="140px">
								<p th:text="${category.getName()}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- End Category Module -->


		<!-- Start Latest Product Module -->

		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>

				<div class="col-md-4">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="https://rukminim2.flixcart.com/fk-p-flap/480/260/image/d042ed7a0d8176fe.jpg" class="img-fluid" style="height: 200px; object-fit: cover;">
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="https://rukminim2.flixcart.com/fk-p-flap/480/260/image/d042ed7a0d8176fe.jpg" class="img-fluid" style="height: 200px; object-fit: cover;">
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="https://rukminim2.flixcart.com/fk-p-flap/480/260/image/d042ed7a0d8176fe.jpg" class="img-fluid" style="height: 200px; object-fit: cover;">
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="https://rukminim2.flixcart.com/fk-p-flap/480/260/image/d042ed7a0d8176fe.jpg" class="img-fluid" style="height: 200px; object-fit: cover;">
						</div>
					</div>
				</div>
<!--				-->
<!--				<div class="col-md-3">-->
<!--					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--						<div class="card-body text-center">-->
<!--							<img alt="" src="https://rukminim2.flixcart.com/fk-p-flap/420/260/image/08ed687587b6272c.jpg" class="" width="100%"-->
<!--								height="140px">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-3">-->
<!--					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--						<div class="card-body text-center">-->
<!--							<img alt="" src="img/banner_img/banner3.jpg" class="" width="100%"-->
<!--								height="140px">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-md-3">-->
<!--					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--						<div class="card-body text-center">-->
<!--							<img alt="" src="img/banner_img/banner4.jpg" class="" width="100%"-->
<!--								height="140px">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

			</div>
		</div>


		<!-- End Latest Product Module -->
	</section>
</body>
</html>